.load-container {
  padding: 50px 0;
}
.spinner {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0 auto;
}

.load-wrapp p {padding: 0 0 30px;}
.load-wrapp:last-child {margin-right: 0;}

.bubble-1,
.bubble-2 {
    position: absolute;
    top: 0;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: #4b9cdb;
}

.bubble-2 {
  top: auto;
  bottom: 0;
}

.spinner {animation: loadingI 2s linear infinite;}
.bubble-1, .bubble-2 {animation: bounce 2s ease-in-out infinite;}
.bubble-2 {animation-delay: -1.0s;}

@keyframes loadingI {
  100% {transform: rotate(360deg);}
}

@keyframes bounce  {
  0%, 100% {transform: scale(0.0);}
  50% {transform: scale(1.0);}
}