.block_tag{
    width: 100%;
    clear: both;
    overflow: auto;
}

.tag {
    background: #d9d9d9;
    padding: 3px 10px;
    height: 27px;
    color: black;
    float: left;
    margin: 0 5px 5px 0;
    font: 400 12px/20px arial;
}
.tag a {color: inherit; text-decoration: none}
